html{
    font-size: 1px;
}

body{
    font-size: 16rem;
    background: rgb(23, 23, 24);
    color: rgb(255, 255, 255);
    font-family: var(--font-family);
}


.container{
    padding: 0 20rem;
    max-width: 1196rem;
    margin-inline: auto;
}