.line {
    border-bottom: 1rem solid var(--bordes);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 18rem;
    padding-bottom: 18rem;

    &__logo {
        font-family: var(--second-family);
        font-weight: 600;
        font-size: 24rem;
        line-height: 133%;
    }

    &__menu {
        @include mobile {
            position: fixed;
            top: -100%;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            /*це щоб можна було скролити у бургер меню */
            transition: all 0.3s ease 0s;
            background-color: rgba(19, 20, 54, 0.96);
            padding: 70px 10px 20px 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            &.active {
                top: 0;
            }
        }
    }

    &__links {
        display: flex;
        gap: 32rem;

        @include mobile {
            display: block;
            text-align: center;
            & li {
                margin-bottom: 80px;
            }
        }
    }

    &__links-a {
        font-weight: 500;
        font-size: 16rem;
        line-height: 100%;
        color: var(--blanco);
        @include mobile{
            font-size: 24rem;
        }
    }

    &__burger {
        @include mobile {
            display: block;
            position: relative;
            width: 30px;
            height: 20px;
            position: relative;
            z-index: 3;

            & span {
                position: absolute;
                background-color: #fff;
                left: 0;
                width: 100%;
                height: 2px;
                top: 9px;
                transition: all 0.3s ease 0s;
            }

            &:before,
            &:after {
                content: "";
                background-color: #fff;
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                transition: all 0.3s ease 0s;
            }

            &:before {
                top: 0;
            }

            &:after {
                bottom: 0;
            }

            &.active span {
                transform: scale(0);
            }

            &.active:before {
                transform: rotate(45deg);
                top: 9px;
            }

            &.active:after {
                transform: rotate(-45deg);
                bottom: 9px;
            }
        }
    }
}